button{
    background-color:blueviolet;
    padding:10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:10px;
    
}
button:hover{
    background-color:rgb(42, 7, 75);
    color:white;
    transition:0.5s;
    
}